/* Adding lato font  */
@font-face {
  font-family: "Lato";
  src: url("./latoFonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-l";
  src: url("./latoFonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-l";
  src: url("./latoFonts/Lato-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato-l", sans-serif;

  --orange: #ec5242;
}

.home {
  min-height: 90vh;
  border: 2px solid red;
  background:
    linear-gradient(#272a31, transparent),
    url("./img/landing-page.jpg") center no-repeat;
}

.main-head {
  height: 10%;
  width: 95%;
  margin: auto;
}

span {
  background: white;
  padding: 0.4rem 2rem;
  margin: 0.6rem;
  display: block;
  cursor: pointer;
  pointer-events: none;
}

.text {
  width: 95%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: white;
}

.text h3 {
  font-size: 3rem;
  line-height: 1.75rem;
  color: var(--orange);
}

.text-bg {
  background: url('./img/bg.jpg') no-repeat center /cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
}

.details {
  width: 100%;
  font-size: 1.6rem;
  text-justify: auto;
  color: white;
}

.year {
  font-size: 3rem;
  font-weight: 600;
}

.end {
  font-size: 1.8rem;
}

.about {
  min-height: 100vh;
}
